@model IEnumerable<DSED_07_Web_Development.Models.Sports>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SportFees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SportCoach)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportCoach)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
