@model DSED_07_Web_Development.Models.Novels

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Novels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NovelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NovelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NovelPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NovelPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NovelAuthor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NovelAuthor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NovelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
